Pagos-Programados-Service/src/main/resources/Entidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
    <xsd:element name="Entidad" type="Entidad"/>
    <xsd:complexType name="Entidad">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="numeroCuenta" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>