CICS-Service/CICS-Service/src/wsdl/localhost_8080/Pagos-Programados-Service/PagoProgramadoService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://www.patsoft.aes.puj.edu.co" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.patsoft.aes.puj.edu.co">
<types>
<xsd:schema>
<xsd:import namespace="http://www.patsoft.aes.puj.edu.co" schemaLocation="http://localhost:8080/Pagos-Programados-Service/PagoProgramadoService?xsd=1"/>
</xsd:schema>
</types>
<message name="FindAllByCliente">
<part name="parameters" element="tns:FindAllByCliente"/>
</message>
<message name="FindAllByClienteResponse">
<part name="parameters" element="tns:FindAllByClienteResponse"/>
</message>
<message name="PagosProgramadosException">
<part name="fault" element="tns:PagosProgramadosException"/>
</message>
<message name="FindAllByFechaProximoPagoNow">
<part name="parameters" element="tns:FindAllByFechaProximoPagoNow"/>
</message>
<message name="FindAllByFechaProximoPagoNowResponse">
<part name="parameters" element="tns:FindAllByFechaProximoPagoNowResponse"/>
</message>
<message name="NotificarPagoProgramado">
<part name="parameters" element="tns:NotificarPagoProgramado"/>
</message>
<message name="NotificarPagoProgramadoResponse">
<part name="parameters" element="tns:NotificarPagoProgramadoResponse"/>
</message>
<message name="NotificarPagoProgramadoByRef">
<part name="parameters" element="tns:NotificarPagoProgramadoByRef"/>
</message>
<message name="NotificarPagoProgramadoByRefResponse">
<part name="parameters" element="tns:NotificarPagoProgramadoByRefResponse"/>
</message>
<portType name="PagoProgramadoPort">
<operation name="FindAllByCliente">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="findAllByCliente" message="tns:FindAllByCliente"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/FindAllByClienteResponse" message="tns:FindAllByClienteResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:PagosProgramadosException" name="PagosProgramadosException" ns3:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/FindAllByCliente/Fault/PagosProgramadosException"/>
</operation>
<operation name="FindAllByFechaProximoPagoNow">
<input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="findAllByFechaProximoPagoNow" message="tns:FindAllByFechaProximoPagoNow"/>
<output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/FindAllByFechaProximoPagoNowResponse" message="tns:FindAllByFechaProximoPagoNowResponse"/>
<fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:PagosProgramadosException" name="PagosProgramadosException" ns6:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/FindAllByFechaProximoPagoNow/Fault/PagosProgramadosException"/>
</operation>
<operation name="NotificarPagoProgramado">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="notificarPagoProgramado" message="tns:NotificarPagoProgramado"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/NotificarPagoProgramadoResponse" message="tns:NotificarPagoProgramadoResponse"/>
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:PagosProgramadosException" name="PagosProgramadosException" ns9:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/NotificarPagoProgramado/Fault/PagosProgramadosException"/>
</operation>
<operation name="NotificarPagoProgramadoByRef">
<input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="notificarPagoProgramadoByRef" message="tns:NotificarPagoProgramadoByRef"/>
<output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/NotificarPagoProgramadoByRefResponse" message="tns:NotificarPagoProgramadoByRefResponse"/>
<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:PagosProgramadosException" name="PagosProgramadosException" ns12:Action="http://www.patsoft.aes.puj.edu.co/PagoProgramadoPort/NotificarPagoProgramadoByRef/Fault/PagosProgramadosException"/>
</operation>
</portType>
</definitions>